/target
/test_results
/.idea
/Frontend/takeofftestapp/node_modules
/Frontend/takeofftestapp/dist/
/Frontend/takeofftestapp/.env
/src/tests/test_data
/src/takeflight_computer_vision/target
/src/takeflight_computer_vision/test_results
/src/takeflight_computer_vision/src/tests/test_data
/logs